extends layout

block content
	.jumbotron(id="disp")
		.container-fluid(id="jumbo-text")
			.page-header
				h1.text-center.palace.text-dark Palace Ladies Hostels
				hr
				p.text-center.top Home Sweet Home
